<ActionBar class="action-bar">
    <!-- 
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Career Advise"></Label>
</ActionBar>

<GridLayout >
    <ScrollView class="page">
        <StackLayout>
            <CardView *ngFor="let item of dataItems" class="card" elevation="40" radius="10" ios:shadowRadius="3">
                <StackLayout class="card-layout">
                    <Label class="h2" textWrap="true" [text]="item.index + ' ' + item.topicName"></Label>
                    <Label class="body" textWrap="true" [text]="item.topicDesc"></Label>
                    <GridLayout columns="*,*,*,*,*,*" rows="*">
                        <label class="h2" col="4" text="Sub"></label>
                        <!-- <Button [text]="3" col="4" style="background-color: rgb(44, 172, 5);"></Button> -->
                        <Button [text]="item.topicSubscribers" col="5" style="background-color: rgba(212, 212, 212, 0.637);"></Button>
                    </GridLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</GridLayout>