<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://back" (tap)="onGoBack()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application. -->

    <ActionItem android:visibility="collapsed" (tap)="onGoBack()" ios.position="left"></ActionItem>
    <Label class="action-bar-title" text="thread: ExampleThread"></Label>
</ActionBar>
<GridLayout>
    <StackLayout>
        <CardView class="card" elevation="40" radius="10" ios:shadowRadius="3">
            <StackLayout class="card-layout">
                <Label class="h2" [text]="forumService.thread.title"></Label>
                <Label class="body" textWrap="true" [text]="forumService.thread.description"></Label>
            </StackLayout>
        </CardView>
        <ScrollView class="page">
                <CardView *ngFor="let item of dataItems" class="card-comment" elevation="40" radius="10" ios:shadowRadius="3">
                    <StackLayout class="card-layout">
                        <Label class="h2" [text]="item.user"></Label>
                        <Label class="body" textWrap="true" [text]="item.comment"></Label>
                        <CardView *ngFor="let item of dataItems" class="card-comment" elevation="40" radius="10"
                            ios:shadowRadius="3" >
                            <StackLayout class="card-layout">
                                <Label class="h2" [text]="item.user"></Label>
                                <Label class="body" textWrap="true" [text]="item.comment"></Label>
                            </StackLayout>
                        </CardView>
                    </StackLayout>
                </CardView>
            </ScrollView>
    </StackLayout>
    <!--  -->
</GridLayout>